################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CicdDashbaord/bin/Debug/net8.0
/CicdDashbaord/obj
/bin/Debug/net8.0
/obj
/.vs
