<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/3274ef66-7ae3-4ca3-8bc7-d2860ea257c5/resourcegroups/cicddashbaord-app-20250824190340ResourceGroup/providers/Microsoft.ContainerRegistry/registries/CicdDashbaord20250824190939</ContainerResourceId>
    <ContainerResourceName>CicdDashbaord20250824190939</ContainerResourceName>
    <Subscription>azure-sub-susobhan2403</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>cicddashbaord20250824190939.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>cicddashboard</ContainerName>
    <EnvironmentName>CicdDashbaord-env-20250824190341</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://cicddashbaord-app-20250824190340.gentlesmoke-119460c3.centralindia.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <IngressTargetPort>8080</IngressTargetPort>
    <ResourceId>/subscriptions/3274ef66-7ae3-4ca3-8bc7-d2860ea257c5/resourceGroups/cicddashbaord-app-20250824190340ResourceGroup/providers/Microsoft.App/containerApps/cicddashbaord-app-20250824190340</ResourceId>
    <ResourceGroup>cicddashbaord-app-20250824190340ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>